name: Deploy to GitHub Pages

on:
  workflow_dispatch:
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Setup Cache
        uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install Material for MKDocs
        run: pip install "mkdocs-material>=9.4.7" "mkdocstrings>=0.23.0" "mkdocstrings-python-md>=1.7.3" "black>=23.10.1" "mkdocs-caption>=0.0.9"

      - name: Deploy Docs to GitHub Pages
        run: mkdocs gh-deploy --force