name: Build Documentation

on:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install Python and uv with caching
        uses: astral-sh/setup-uv@v7
        with:
          version: ">=0.9.18,<0.10.0"
          python-version: 3.14
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install optimi
        run: uv sync --group cpu

      - name: Deploy Docs to GitHub Pages
        run: uv run mkdocs gh-deploy --force